{
  "name": "engine",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "sass/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"style.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "sass/layout/_page.scss",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "assets/sass/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"style.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "assets/js/script.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "sass/layout",
      "assets",
      "assets/sass",
      "assets/sass/admin",
      "assets/js"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "assets/sass/elements/_forms.scss",
      "imports": [
        "assets/sass/elements/_buttons.scss",
        "assets/sass/elements/_fields.scss"
      ]
    },
    {
      "path": "assets/sass/style.scss",
      "imports": [
        "assets/sass/_normalize.scss",
        "assets/sass/base/_typography.scss",
        "assets/sass/base/_base.scss",
        "assets/sass/base/_layout.scss",
        "assets/sass/base/_header.scss",
        "assets/sass/base/_page.scss",
        "assets/sass/base/_footer.scss",
        "assets/sass/base/_padding.scss",
        "assets/sass/modules/_template-fullwidth.scss",
        "assets/sass/elements/_elements.scss",
        "assets/sass/elements/_buttons.scss",
        "assets/sass/elements/_fields.scss",
        "assets/sass/modules/_default-header.scss",
        "assets/sass/modules/_slideout-menu.scss",
        "assets/sass/modules/_topbar.scss",
        "assets/sass/modules/_abar.scss",
        "assets/sass/modules/_menus.scss",
        "assets/sass/modules/_widgets.scss",
        "assets/sass/modules/_social-icons.scss",
        "assets/sass/modules/_bb.scss",
        "assets/sass/modules/_blog.scss",
        "assets/sass/modules/_post-nav.scss",
        "assets/sass/elements/_lists.scss",
        "assets/sass/elements/_tables.scss"
      ]
    },
    {
      "path": "assets/js/script.js",
      "imports": [
        "assets/js/jquery.sticky.js",
        "assets/js/headroom.min.js"
      ]
    }
  ],
  "projectView": {
    "selectedView": "ftp"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7883,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "http://badassofficial.dev/"
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "sftp",
    "remotePath": "applications/erdjcatvyn/public_html/wp-content/themes/engine",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "109.73.225.208",
      "port": 22,
      "usePrivateKey": false,
      "username": "master_skuqffsexv",
      "password": "BZY93Buv",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "404.php",
        "ctime": "2017-04-06T15:39:31.128Z",
        "mtime": "2017-03-17T06:19:05.000Z",
        "size": 646
      },
      {
        "file": "archive.php",
        "ctime": "2017-04-06T15:39:31.129Z",
        "mtime": "2017-03-17T06:19:06.000Z",
        "size": 1132
      },
      {
        "file": "assets/images/engag3_logo_white.svg",
        "ctime": "2017-04-06T15:37:24.028Z",
        "mtime": "2017-03-17T06:19:07.000Z",
        "size": 10559
      },
      {
        "file": "assets/js/customizer.js",
        "ctime": "2017-04-06T15:37:24.509Z",
        "mtime": "2017-03-17T06:19:08.000Z",
        "size": 999
      },
      {
        "file": "assets/js/headroom.min.js",
        "ctime": "2017-04-06T15:37:24.952Z",
        "mtime": "2017-03-17T06:19:09.000Z",
        "size": 5369
      },
      {
        "file": "assets/js/jquery.sticky.js",
        "ctime": "2017-04-06T15:37:24.644Z",
        "mtime": "2017-03-17T06:19:10.000Z",
        "size": 9989
      },
      {
        "file": "assets/js/script.js",
        "ctime": "2017-04-06T15:37:24.217Z",
        "mtime": "2017-03-17T06:19:12.000Z",
        "size": 3274
      },
      {
        "file": "assets/js/slideout.min.js",
        "ctime": "2017-04-06T15:37:24.325Z",
        "mtime": "2017-03-17T06:19:13.000Z",
        "size": 7314
      },
      {
        "file": "assets/css/admin/customizer.css",
        "ctime": "2017-04-06T15:37:31.408Z",
        "mtime": "2017-03-17T06:19:14.000Z",
        "size": 9538
      },
      {
        "file": "assets/images/icons/0-column.svg",
        "ctime": "2017-04-06T15:37:33.436Z",
        "mtime": "2017-03-17T06:19:15.000Z",
        "size": 707
      },
      {
        "file": "assets/images/icons/1-column.svg",
        "ctime": "2017-04-06T15:37:31.707Z",
        "mtime": "2017-03-17T06:19:16.000Z",
        "size": 705
      },
      {
        "file": "assets/images/icons/2-column.svg",
        "ctime": "2017-04-06T15:37:32.521Z",
        "mtime": "2017-03-17T06:19:17.000Z",
        "size": 804
      },
      {
        "file": "assets/images/icons/3-column.svg",
        "ctime": "2017-04-06T15:37:33.201Z",
        "mtime": "2017-03-17T06:19:18.000Z",
        "size": 899
      },
      {
        "file": "assets/images/icons/4-column.svg",
        "ctime": "2017-04-06T15:37:31.671Z",
        "mtime": "2017-03-17T06:19:19.000Z",
        "size": 997
      },
      {
        "file": "assets/images/icons/5-column.svg",
        "ctime": "2017-04-06T15:37:31.968Z",
        "mtime": "2017-03-17T06:19:20.000Z",
        "size": 1094
      },
      {
        "file": "assets/images/icons/6-column.svg",
        "ctime": "2017-04-06T15:37:32.009Z",
        "mtime": "2017-03-17T06:19:21.000Z",
        "size": 1192
      },
      {
        "file": "assets/images/icons/boxed-containers.svg",
        "ctime": "2017-04-06T15:37:32.248Z",
        "mtime": "2017-03-17T06:19:21.000Z",
        "size": 1281
      },
      {
        "file": "assets/images/icons/content-sidebar-sidebar.svg",
        "ctime": "2017-04-06T15:37:33.471Z",
        "mtime": "2017-03-17T06:19:22.000Z",
        "size": 1060
      },
      {
        "file": "assets/images/icons/content-sidebar.svg",
        "ctime": "2017-04-06T15:37:32.288Z",
        "mtime": "2017-03-17T06:19:23.000Z",
        "size": 1048
      },
      {
        "file": "assets/images/icons/content.svg",
        "ctime": "2017-04-06T15:37:32.585Z",
        "mtime": "2017-03-17T06:19:24.000Z",
        "size": 586
      },
      {
        "file": "assets/images/icons/header-left.svg",
        "ctime": "2017-04-06T15:37:33.798Z",
        "mtime": "2017-03-17T06:19:26.000Z",
        "size": 821
      },
      {
        "file": "assets/images/icons/header-right.svg",
        "ctime": "2017-04-06T15:37:33.798Z",
        "mtime": "2017-03-17T06:19:27.000Z",
        "size": 1280
      },
      {
        "file": "assets/images/icons/header-top.svg",
        "ctime": "2017-04-06T15:37:34.091Z",
        "mtime": "2017-03-17T06:19:28.000Z",
        "size": 1254
      },
      {
        "file": "assets/images/icons/lined-containers.svg",
        "ctime": "2017-04-06T15:37:32.812Z",
        "mtime": "2017-03-17T06:19:29.000Z",
        "size": 924
      },
      {
        "file": "assets/images/icons/sidebar-content-sidebar.svg",
        "ctime": "2017-04-06T15:37:34.091Z",
        "mtime": "2017-03-17T06:19:31.000Z",
        "size": 816
      },
      {
        "file": "assets/images/icons/sidebar-content.svg",
        "ctime": "2017-04-06T15:37:31.398Z",
        "mtime": "2017-03-17T06:19:32.000Z",
        "size": 711
      },
      {
        "file": "assets/images/icons/sidebar-sidebar-content.svg",
        "ctime": "2017-04-06T15:37:34.377Z",
        "mtime": "2017-03-17T06:19:33.000Z",
        "size": 816
      },
      {
        "file": "comments.php",
        "ctime": "2017-04-06T15:39:31.130Z",
        "mtime": "2017-03-17T06:19:35.000Z",
        "size": 2842
      },
      {
        "file": "footer.php",
        "ctime": "2017-04-07T04:04:12.359Z",
        "mtime": "2017-04-07T04:04:12.359Z",
        "size": 802
      },
      {
        "file": "functions.php",
        "ctime": "2017-04-07T02:52:02.540Z",
        "mtime": "2017-04-07T02:52:02.540Z",
        "size": 6688
      },
      {
        "file": "header.php",
        "ctime": "2017-04-07T04:03:31.715Z",
        "mtime": "2017-04-07T04:03:31.715Z",
        "size": 2788
      },
      {
        "file": "inc/engine-template-fonctions.php",
        "ctime": "2017-04-06T15:37:22.817Z",
        "mtime": "2017-03-17T06:19:38.000Z",
        "size": 7765
      },
      {
        "file": "inc/engine-template-hooks.php",
        "ctime": "2017-04-06T15:37:23.024Z",
        "mtime": "2017-03-17T06:19:38.000Z",
        "size": 3826
      },
      {
        "file": "inc/extras.php",
        "ctime": "2017-04-06T15:37:23.091Z",
        "mtime": "2017-03-17T06:19:39.000Z",
        "size": 973
      },
      {
        "file": "inc/template-tags.php",
        "ctime": "2017-04-06T15:37:22.725Z",
        "mtime": "2017-03-17T06:19:41.000Z",
        "size": 4178
      },
      {
        "file": "inc/customizer/customizer.php",
        "ctime": "2017-04-06T15:37:25.828Z",
        "mtime": "2017-03-17T06:19:43.000Z",
        "size": 5703
      },
      {
        "file": "inc/customizer/include-kirki.php",
        "ctime": "2017-04-06T15:37:25.486Z",
        "mtime": "2017-03-17T06:19:46.000Z",
        "size": 2956
      },
      {
        "file": "inc/customizer/js.php",
        "ctime": "2017-04-06T15:37:26.122Z",
        "mtime": "2017-03-17T06:19:47.000Z",
        "size": 1854
      },
      {
        "file": "inc/customizer/kirki-fallback.php",
        "ctime": "2017-04-06T15:37:26.443Z",
        "mtime": "2017-03-17T06:19:48.000Z",
        "size": 14181
      },
      {
        "file": "inc/customizer/style.php",
        "ctime": "2017-04-06T15:37:26.112Z",
        "mtime": "2017-03-17T06:19:50.000Z",
        "size": 8908
      },
      {
        "file": "inc/jetpack/jetpack.php",
        "ctime": "2017-04-06T15:37:25.172Z",
        "mtime": "2017-03-17T06:19:50.000Z",
        "size": 947
      },
      {
        "file": "inc/jetpack/wpcom.php",
        "ctime": "2017-04-06T15:37:25.237Z",
        "mtime": "2017-03-17T06:19:51.000Z",
        "size": 596
      },
      {
        "file": "index.php",
        "ctime": "2017-04-06T15:39:31.135Z",
        "mtime": "2017-03-17T06:20:03.000Z",
        "size": 1343
      },
      {
        "file": "languages/engine.pot",
        "ctime": "2017-04-06T15:37:23.377Z",
        "mtime": "2017-03-17T06:20:04.000Z",
        "size": 4334
      },
      {
        "file": "languages/readme.txt",
        "ctime": "2017-04-06T15:37:23.569Z",
        "mtime": "2017-03-17T06:20:05.000Z",
        "size": 322
      },
      {
        "file": "page.php",
        "ctime": "2017-04-07T03:20:34.769Z",
        "mtime": "2017-03-17T06:20:06.000Z",
        "size": 784
      },
      {
        "file": "screenshot.png",
        "ctime": "2017-04-06T15:39:31.138Z",
        "mtime": "2017-03-17T06:20:08.000Z",
        "size": 926518
      },
      {
        "file": "search.php",
        "ctime": "2017-04-06T15:39:31.139Z",
        "mtime": "2017-03-17T06:20:08.000Z",
        "size": 1117
      },
      {
        "file": "single.php",
        "ctime": "2017-04-07T03:23:00.120Z",
        "mtime": "2017-03-17T06:20:09.000Z",
        "size": 652
      },
      {
        "file": "style.css",
        "ctime": "2017-04-07T03:06:12.669Z",
        "mtime": "2017-04-07T03:06:12.669Z",
        "size": 28518
      },
      {
        "file": "template-parts/content-none.php",
        "ctime": "2017-04-06T15:37:21.628Z",
        "mtime": "2017-03-17T06:20:11.000Z",
        "size": 1145
      },
      {
        "file": "template-parts/content-page.php",
        "ctime": "2017-04-07T03:20:44.163Z",
        "mtime": "2017-03-17T06:20:12.000Z",
        "size": 1427
      },
      {
        "file": "template-parts/content-search.php",
        "ctime": "2017-04-06T15:37:21.939Z",
        "mtime": "2017-03-17T06:20:12.000Z",
        "size": 798
      },
      {
        "file": "template-parts/content-single.php",
        "ctime": "2017-04-07T03:22:29.809Z",
        "mtime": "2017-04-07T03:22:29.809Z",
        "size": 1532
      },
      {
        "file": "template-parts/content.php",
        "ctime": "2017-04-06T15:37:21.221Z",
        "mtime": "2017-03-17T06:20:14.000Z",
        "size": 1232
      },
      {
        "file": "inc/customizer/font-styles.php",
        "ctime": "2017-04-06T15:37:26.814Z",
        "mtime": "2017-03-17T06:19:45.000Z",
        "size": 5647
      },
      {
        "file": "inc/customizer/field-styles.php",
        "ctime": "2017-04-06T15:37:25.778Z",
        "mtime": "2017-03-17T06:19:44.000Z",
        "size": 3374
      },
      {
        "file": "inc/shortcodes.php",
        "ctime": "2017-04-06T15:37:23.291Z",
        "mtime": "2017-03-17T06:19:40.000Z",
        "size": 2450
      },
      {
        "file": "inc/customizer/sections.php",
        "ctime": "2017-04-06T15:37:25.519Z",
        "mtime": "2017-03-17T06:19:49.000Z",
        "size": 5255
      },
      {
        "file": "inc/customizer/controles/abar-controles.php",
        "ctime": "2017-04-06T15:37:35.923Z",
        "mtime": "2017-03-17T06:19:52.000Z",
        "size": 5759
      },
      {
        "file": "inc/customizer/controles/advanced-controles.php",
        "ctime": "2017-04-06T15:37:34.639Z",
        "mtime": "2017-03-17T06:19:53.000Z",
        "size": 6
      },
      {
        "file": "inc/customizer/controles/color-controles.php",
        "ctime": "2017-04-06T15:37:34.964Z",
        "mtime": "2017-03-17T06:19:55.000Z",
        "size": 3455
      },
      {
        "file": "inc/customizer/controles/content-controles.php",
        "ctime": "2017-04-06T15:37:35.581Z",
        "mtime": "2017-03-17T06:19:56.000Z",
        "size": 4944
      },
      {
        "file": "inc/customizer/controles/footer-controles.php",
        "ctime": "2017-04-06T15:37:34.910Z",
        "mtime": "2017-03-17T06:19:57.000Z",
        "size": 2584
      },
      {
        "file": "inc/customizer/controles/header-controles.php",
        "ctime": "2017-04-06T15:37:36.210Z",
        "mtime": "2017-03-17T06:19:58.000Z",
        "size": 4715
      },
      {
        "file": "inc/customizer/controles/slideout-menu-controles.php",
        "ctime": "2017-04-06T15:37:35.860Z",
        "mtime": "2017-03-17T06:19:59.000Z",
        "size": 4501
      },
      {
        "file": "inc/customizer/controles/social-controles.php",
        "ctime": "2017-04-06T15:37:35.328Z",
        "mtime": "2017-03-17T06:20:00.000Z",
        "size": 3189
      },
      {
        "file": "inc/customizer/controles/typography-controles.php",
        "ctime": "2017-04-06T15:37:35.630Z",
        "mtime": "2017-03-17T06:20:02.000Z",
        "size": 7081
      },
      {
        "file": "assets/js/script-dist.js",
        "ctime": "2017-04-06T15:37:24.821Z",
        "mtime": "2017-03-17T06:19:11.000Z",
        "size": 11146
      },
      {
        "file": "assets/images/icons/desktop.svg",
        "ctime": "2017-04-06T15:37:34.369Z",
        "mtime": "2017-03-17T06:19:25.000Z",
        "size": 440
      },
      {
        "file": "assets/images/icons/phone.svg",
        "ctime": "2017-04-06T15:37:32.891Z",
        "mtime": "2017-03-17T06:19:30.000Z",
        "size": 485
      },
      {
        "file": "assets/images/icons/tablet.svg",
        "ctime": "2017-04-06T15:37:33.130Z",
        "mtime": "2017-03-17T06:19:34.000Z",
        "size": 403
      },
      {
        "file": "inc/beaverbuilder/beaverbuilder.php",
        "ctime": "2017-04-06T16:29:28.583Z",
        "mtime": "2017-04-06T16:29:28.583Z",
        "size": 2271
      },
      {
        "file": "inc/customizer/classes.php",
        "ctime": "2017-04-06T15:37:26.422Z",
        "mtime": "2017-03-17T06:19:42.000Z",
        "size": 1838
      },
      {
        "file": "inc/customizer/controles/custom-controles.php",
        "ctime": "2017-04-06T15:37:35.282Z",
        "mtime": "2017-03-17T06:19:56.000Z",
        "size": 1026
      },
      {
        "file": "inc/customizer/controles/topbar-controles.php",
        "ctime": "2017-04-06T15:37:34.678Z",
        "mtime": "2017-03-17T06:20:01.000Z",
        "size": 4989
      },
      {
        "file": "templates/blank.php",
        "ctime": "2017-04-07T03:57:07.668Z",
        "mtime": "2017-04-07T03:57:07.668Z",
        "size": 556
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"compiler-minify-css\":{\"enabled\":true}}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}