{
  "name": "engine",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "sass/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"style.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "sass/layout/_page.scss",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "assets/sass/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"style.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "sass/layout",
      "assets",
      "assets/sass",
      "assets/sass/base"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "assets/sass/style.scss",
      "imports": [
        "assets/sass/variables-site/_variables-site.scss",
        "assets/sass/_normalize.scss",
        "assets/sass/base/_typography.scss",
        "assets/sass/base/_base.scss",
        "assets/sass/base/_layout.scss",
        "assets/sass/base/_header.scss",
        "assets/sass/base/_page.scss",
        "assets/sass/base/_footer.scss",
        "assets/sass/base/_padding.scss",
        "assets/sass/elements/_elements.scss",
        "assets/sass/elements/_forms.scss",
        "assets/sass/modules/_slideout-menu.scss",
        "assets/sass/modules/_widgets.scss",
        "assets/sass/modules/_bb.scss",
        "assets/sass/variables-site/_colors.scss",
        "assets/sass/variables-site/_typography.scss",
        "assets/sass/variables-site/_structure.scss",
        "assets/sass/elements/_lists.scss",
        "assets/sass/elements/_tables.scss",
        "assets/sass/elements/_buttons.scss",
        "assets/sass/elements/_fields.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "settings"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7881,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "http://badassofficial.dev/"
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "sftp",
    "remotePath": "applications/bzmshjadpb/public_html/wp-content/themes/engine",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "104.198.230.186",
      "port": 22,
      "usePrivateKey": false,
      "username": "master_huekkxcnbu",
      "password": "xT2GYpww",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "404.php",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 1753
      },
      {
        "file": "archive.php",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 1204
      },
      {
        "file": "assets/images/engag3_logo_white.svg",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 10559
      },
      {
        "file": "assets/js/customizer.js",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 999
      },
      {
        "file": "assets/js/headroom.min.js",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 5369
      },
      {
        "file": "assets/js/jquery.sticky.js",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 9989
      },
      {
        "file": "assets/js/script.js",
        "ctime": "2017-01-27T19:13:54.000Z",
        "mtime": "2017-01-27T19:13:54.000Z",
        "size": 2921
      },
      {
        "file": "assets/js/slideout.min.js",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 7314
      },
      {
        "file": "assets/css/admin/customizer.css",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 4122
      },
      {
        "file": "assets/css/base/_padding.css",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 2995
      },
      {
        "file": "assets/css/layout/_padding.css",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 48
      },
      {
        "file": "assets/css/layout/_page.css",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 1203
      },
      {
        "file": "assets/css/modules/_bb.css",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 125
      },
      {
        "file": "assets/css/modules/_widgets.css",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 55
      },
      {
        "file": "assets/images/icons/0-column.svg",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 707
      },
      {
        "file": "assets/images/icons/1-column.svg",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 705
      },
      {
        "file": "assets/images/icons/2-column.svg",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 804
      },
      {
        "file": "assets/images/icons/3-column.svg",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 899
      },
      {
        "file": "assets/images/icons/4-column.svg",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 997
      },
      {
        "file": "assets/images/icons/5-column.svg",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 1094
      },
      {
        "file": "assets/images/icons/6-column.svg",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 1192
      },
      {
        "file": "assets/images/icons/boxed-containers.svg",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 1281
      },
      {
        "file": "assets/images/icons/content-sidebar-sidebar.svg",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 1060
      },
      {
        "file": "assets/images/icons/content-sidebar.svg",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 1048
      },
      {
        "file": "assets/images/icons/content.svg",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 586
      },
      {
        "file": "assets/images/icons/header-left.svg",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 821
      },
      {
        "file": "assets/images/icons/header-right.svg",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 1280
      },
      {
        "file": "assets/images/icons/header-top.svg",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 1254
      },
      {
        "file": "assets/images/icons/lined-containers.svg",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 924
      },
      {
        "file": "assets/images/icons/sidebar-content-sidebar.svg",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 816
      },
      {
        "file": "assets/images/icons/sidebar-content.svg",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 711
      },
      {
        "file": "assets/images/icons/sidebar-sidebar-content.svg",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 816
      },
      {
        "file": "comments.php",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 2841
      },
      {
        "file": "footer.php",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 1647
      },
      {
        "file": "functions.php",
        "ctime": "2017-01-27T19:14:37.000Z",
        "mtime": "2017-01-27T19:14:37.000Z",
        "size": 7087
      },
      {
        "file": "header.php",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 4680
      },
      {
        "file": "inc/custom-header.php",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 2070
      },
      {
        "file": "inc/engine-template-fonctions.php",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 2844
      },
      {
        "file": "inc/engine-template-hooks.php",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 3817
      },
      {
        "file": "inc/extras.php",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 973
      },
      {
        "file": "inc/template-tags.php",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 4178
      },
      {
        "file": "inc/customizer/customizer.php",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 31348
      },
      {
        "file": "inc/customizer/include-kirki.php",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 2956
      },
      {
        "file": "inc/customizer/js.php",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 1854
      },
      {
        "file": "inc/customizer/kirki-fallback.php",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 14181
      },
      {
        "file": "inc/customizer/style.php",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 6279
      },
      {
        "file": "inc/jetpack/jetpack.php",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 947
      },
      {
        "file": "inc/jetpack/wpcom.php",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 596
      },
      {
        "file": "index.php",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 1414
      },
      {
        "file": "languages/engine.pot",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 4334
      },
      {
        "file": "languages/readme.txt",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 322
      },
      {
        "file": "page.php",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 856
      },
      {
        "file": "screenshot.png",
        "ctime": "2017-01-26T12:21:55.000Z",
        "mtime": "2017-01-26T12:21:55.000Z",
        "size": 264
      },
      {
        "file": "search.php",
        "ctime": "2017-01-26T12:21:55.000Z",
        "mtime": "2017-01-26T12:21:55.000Z",
        "size": 1190
      },
      {
        "file": "single.php",
        "ctime": "2017-01-26T12:21:55.000Z",
        "mtime": "2017-01-26T12:21:55.000Z",
        "size": 742
      },
      {
        "file": "style.css",
        "ctime": "2017-01-26T12:21:55.000Z",
        "mtime": "2017-01-26T12:21:55.000Z",
        "size": 25138
      },
      {
        "file": "template-parts/content-none.php",
        "ctime": "2017-01-26T12:21:55.000Z",
        "mtime": "2017-01-26T12:21:55.000Z",
        "size": 1128
      },
      {
        "file": "template-parts/content-page.php",
        "ctime": "2017-01-26T12:21:55.000Z",
        "mtime": "2017-01-26T12:21:55.000Z",
        "size": 1189
      },
      {
        "file": "template-parts/content-search.php",
        "ctime": "2017-01-26T12:21:55.000Z",
        "mtime": "2017-01-26T12:21:55.000Z",
        "size": 782
      },
      {
        "file": "template-parts/content-single.php",
        "ctime": "2017-01-26T12:21:55.000Z",
        "mtime": "2017-01-26T12:21:55.000Z",
        "size": 1296
      },
      {
        "file": "template-parts/content.php",
        "ctime": "2017-01-26T12:21:55.000Z",
        "mtime": "2017-01-26T12:21:55.000Z",
        "size": 1453
      },
      {
        "file": "template-parts/sidebar-main.php",
        "ctime": "2017-01-26T12:21:55.000Z",
        "mtime": "2017-01-26T12:21:55.000Z",
        "size": 503
      },
      {
        "file": "template-parts/sidebar-secondary.php",
        "ctime": "2017-01-26T12:21:55.000Z",
        "mtime": "2017-01-26T12:21:55.000Z",
        "size": 534
      },
      {
        "file": "inc/customizer/font-styles.php",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 5647
      },
      {
        "file": "inc/customizer/field-styles.php",
        "ctime": "2017-01-26T12:21:54.000Z",
        "mtime": "2017-01-26T12:21:54.000Z",
        "size": 3371
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"compiler-minify-css\":{\"enabled\":true}}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}