body.fl-builder {

  .site-content.container,
  .site-content .content-area,
  .site-main > article,
  .site-main > article .entry-content {
    width: 100%;
    max-width: none;
    margin: 0 !important;
    padding: 0 !important;
  }

}

.no-padding {
  p:first-child {
    margin: 0;
  }
  p:last-child {
    margin: 0;
  }
}

.uppercase:not(.fl-module),
.uppercase.fl-module .fl-module-content {
  text-transform: uppercase;
}


// Overflow bgs

.bg-overflow-left,
.bg-overflow-right {

  &.fl-col-content::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 10000px;
    height: 100%;
    background-color: inherit;
  }
}

.bg-overflow-left .fl-col-content::before {
  right: 0;
}

.bg-overflow-right .fl-col-content::before {
  left: 0;
}
