body.fl-builder {

  .site-content.container,
  .site-content .content-area,
  .site-main > article,
  .site-main > article .entry-content {
    width: 100%;
    max-width: none;
    margin: 0 !important;
    padding: 0 !important;
  }

}

.no-padding {
  p:first-child {
    margin: 0;
  }
  p:last-child {
    margin: 0;
  }
}
