.blog.blog-no-sidebar {
  .content-area {
    width: 100% !important;
    padding-right: 0 !important;
  }
}


// Column layout

.blog .site-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

html.small-device .blog.blog-phone-column-1,
html.medium-device .blog.blog-tablet-column-1,
html.large-device .blog.blog-desktop-column-1 {

  .site-main {

    .post {
      flex-basis: 100%
    }
  }
}

html.small-device .blog.blog-phone-column-2,
html.medium-device .blog.blog-tablet-column-2,
html.large-device .blog.blog-desktop-column-2 {

  .site-main {

    .post {
      flex-basis: 49%
    }
  }
}

html.small-device .blog.blog-phone-column-3,
html.medium-device .blog.blog-tablet-column-3,
html.large-device .blog.blog-desktop-column-3 {

  .site-main {

    .post {
      flex-basis: 32%
    }
  }
}

html.small-device .blog.blog-phone-column-4,
html.medium-device .blog.blog-tablet-column-4,
html.large-device .blog.blog-desktop-column-4 {

  .site-main {

    .post {
      flex-basis: 24%
    }
  }
}
