.post-navigation {

  .nav-links {
    padding: 1rem;
  }

  .nav-next {
    order: 0;

    a::before {
      content: '\f104';
      margin-right: .5em;
      font-family: fontawesome;
    }
  }

  .nav-previous {
    order: 1;

    a::after {
      content: '\f105';
      margin-left: .5em;
      font-family: fontawesome;
    }
  }
}

html:not(.small-device) {
  .post-navigation {
    .nav-links {
      display: flex;
      justify-content: space-between;
    }
  }
}
