// Header Layout
.site-header {
  z-index: 50 !important;
  position: relative !important;
}

// Set top positioned header with to 100%
.header-top .site-header {
  width: 100%;
}

// Left & right postitned header styles

html.small-device {
  .header-left,
  .header-right {

    .site-branding {
      display: none;
    }

    .menu-toggle {
      position: fixed;
      top: .5rem;
      right: .5rem;
      z-index: 9000;
      box-shadow: 0 0 10px rgba(0,0,0,0.4);
    }
  }
}

html:not(.small-device) {
  .header-left,
  .header-right {
    .site {
      display: flex;
    }
    .site-header ,
    .site-content-wrap {

    }

    .site-header {
      // flex-basis: 25%;
      // width: 300px;
      order: 0;
    }

    .site-header-wrap {
      height: 100vh;
      overflow-y: auto;
    }

    .site-content-wrap {
      // width: calc(100% - 300px);
      order: 1;
      // flex-basis: 75%;
    }
  }

  .header-right {
    .site-header {
      order: 1;
      margin-right: 0;
      margin-left: auto;
    }

    .site-content-wrap {
      order: 0;
    }
  }
}

html.medium-device:not(.small-device) {
  .header-left,
  .header-right {

    .site-header {
      flex-basis: 25%;
      width: 270px;
    }


    .site-content-wrap {
      width: calc(100% - 270px);
      flex-basis: 75%;
    }
  }

}



// Sticky header settings

body.sticky-header-enabled.header-top,
html.large-device  body.sticky-header-desktop.header-top,
html.medium-device body.sticky-header-mobile.header-top {


  // Fixed Header
  &.sticky-header-style-fixed {
    .is-sticky .site-header {
      position: fixed !important;
    }
  }

  // Slide in header
  &.sticky-header-style-slide {
    .site-header {
      transition: transform 0.5s ease;
      transition-property: transform;
    }

    .site-header.scrolled-100 {
      position: fixed !important;
      top: -150px !important;
      transform: translate3d(0, 0, 0);
    }

    .site-header.scrolled-500 {
      transform: translate3d(0, 150px, 0);
    }
  }

  // On scroll up
  &.sticky-header-style-on-scroll-up {

    .site-header {
      transition: all 0.5s ease;
      transition-property: transform;
      transition-delay: .2s;
    }

    .is-sticky .site-header {
      position: fixed !important;
    }

    .site-header.scrolled-100 {
      position: fixed !important;
      transform: translate3d(0, -200px, 0);
    }

    .site-header.scrolled-500 {

    }

    .site-header.headroom--pinned {
      transform: translate3d(0, 0, 0);
    }
  }
}




// Menu Toggle

.menu-toggle {
  background-color: transparent;
  border: 0;
  padding: 0;
  background-color: #333333;
  border-radius: 0;
  font-size: 0;
}

.header-top {

  .menu-toggle {
    margin-left: 1rem;
  }
}


.menu-icon {
  margin: .5rem;
  width: 1.55rem;
  height: 1.25rem;
  display: block;
  position: relative;

  span {
    position: absolute;
    display: block;
    width: 100%;
    height: 10%;
    background: #fff;
    transition: all .1s ease-out;
    transform-origin: 50% 50%;
    transition-property: transform;
  }

  .bar-1 {
    top: 0;
  }
  .bar-2 {
     transform: translate3d(0, -50%, 0);
     top: 50%;
   }
  .bar-3 {
    bottom: 0;
    // transform: translate(0, -50%)rotate(-180deg);
  }
}

.slideout-menu-is-active{
  .menu-icon {

    .bar-1 {
      transform: translate3d(0, -50%, 0) rotate(45deg);
      top: 50% !important;
    }
    .bar-2 {
      opacity: 0;
    }
    .bar-3 {
      transform: translate3d(0, -50%, 0) rotate(-45deg);
      top: 50% !important;
    }
  }
}







//
//
//
// /*
//  * Defult header layout
//  */
//
// .site-header.default-layout {
//
//   // Title
//   .site-branding {
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     align-items: center;
//   }
//
//   .site-title {
//     margin: 0;
//     padding: 0.5rem 0;
//     text-transform: uppercase;
//
//     a {
//       max-height: 120px;
//       display: block;
//       vertical-align: middle;
//     }
//
//     img {
//       display: block;
//       max-height: 50px  ;
//       width: auto;
//       transition: all .4s;
//       -webkit-backface-visibility: hidden;
//       -webkit-transform: translateZ(0) scale(1.0, 1.0);
//
//       @media (min-width: 719px) {
//         max-height: 65px;
//       }
//     }
//   }
//
//   .main-navigation {
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-end;
//     align-items: center;
//     text-transform: uppercase;
//
//     li {
//       position: relative;
//     }
//
//     li a {
//       display: block;
//       padding: 1rem 0.5rem;
//     }
//   }
// }
//
//
// html.large-device .site-header.default-layout {
//   .site-title {
//     padding: 1rem 0;
//
//     img { max-height: 80px; }
//   }
// }
//
// // Set flexderaction to row for top header
// .header-top .site-header.default-layout {
//
//   .site-header-wrap {
//     display: flex;
//     flex-direction: column;
//     margin: auto;
//   }
//
//   .site-branding,
//   .site-header-wrap,
//   .main-navigation {
//     flex-direction: row;
//   }
// }
//
// .header-left {
//   .site-header {
//     box-shadow:  1px 0 10px rgba(0,0,0,0.15);
//   }
// }
//
// .header-right {
//   .site-header {
//     box-shadow:  -1px 0 10px rgba(0,0,0,0.15);
//   }
// }
//
//
//
//
//
//
// html:not(.small-device) {
//
//   .site-header.default-layout {
//
//     .main-navigation {
//       ul {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         list-style: none;
//         margin: 0;
//         padding: 0;
//       }
//
//       .sub-menu {
//         position: absolute;
//         display: none;
//         padding: 0.5rem 0;
//
//         a {
//           display: block;
//           width: 200px;
//         }
//
//         li a {
//           padding: 0.25rem 1rem;
//         }
//
//         ul {
//           display: none;
//           top: 0;
//           right: -100%;
//         }
//       }
//
//       li:hover > ul {
//         display: block;
//       }
//     }
//
//     ul ul ul ul {
//       display: none !important;
//     }
//   }
//
//   .header-top {
//     .site-header.default-layout {
//
//       .main-navigation {
//         ul {
//           flex-direction: row;
//         }
//       }
//     }
//   }
//
// }
//
//
// html.small-device {
//
//   .site-header.default-layout  .site-header-wrap {
//     .site-branding {
//       flex-basis: 60%;
//     }
//
//     .main-navigation {
//       flex-basis: 40%;
//     }
//   }
//
// }
//
//
// html:not(.small-device).medium-device {
//
//   .site-header.default-layout  .site-header-wrap {
//     .site-branding {
//       flex-basis: 20%;
//     }
//
//     .main-navigation {
//       flex-basis: 80%;
//     }
//   }
//
// }
//
//
// html.large-device {
//
//   .site-header.default-layout  .site-header-wrap {
//     .site-branding {
//       flex-basis: 25%;
//     }
//
//     .main-navigation {
//       flex-basis: 75%;
//     }
//   }
//
// }
