

.site {
  position: relative;
  width: 100%;
  margin: 0;

}

.container {
  margin: auto;
}

// Content Layout


// Boxed Layout

.boxed-layout {
  .site.container {
    padding: 0 !important;
  }
}


html.large-device {
  .content-area-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    .content-area {
      // width: 100%;
    }
  }

  .content-area-wrap {
    margin: auto;
  }
}
