$padding: 1.5rem;
$padding-small: 0.75rem;

// Main container


/*
 * Header
 */

.header-top .site-header {

}

.container {
  padding: 0 $padding-small;
}

html.large-device {
  .container {
    padding: 0 $padding;
  }
}

/*
 * Content
 */

 .entry-header-text {
   padding-top: $padding;
   padding-bottom: $padding-small;
 }

 .entry-banner + .entry-header-text {
    padding-top: $padding-small;
  }

 .entry-footer {
   padding-top: $padding-small;
   padding-bottom: $padding;
 }


.site-main > article {
  margin-bottom: $padding;
}



html:not(.small-device) {
  .header-top .content-area {
    margin-top: $padding;
  }

  // Page
  .content-area {
    padding-bottom: $padding;
  }

  .site-content.container {
    padding: 0 $padding;
  }

  .boxed-layout.content-layout-boxed {
    .site-content.container {
      padding: 0;
    }
  }
}









/*
 * Single Content Layout
 */





// Border Colors

// .content-layout-single {
//   .site-header {
//     border-bottom: solid 1px rgba(175,175,175,0.25);
//   }
//   .site-footer {
//     border-top: solid 1px rgba(175,175,175,0.25);
//   }
// }

// html.large-device {
//   .content-layout-single {

//     &.boxed-layout {
//       .site {
//         border-left: solid 1px rgba(175,175,175,0.25);
//         border-right: solid 1px rgba(175,175,175,0.25);
//       }
//     }
//   }
// }

// boxed-layout {
//   .site-header.default-layout {
//     border-bottom: solid 1px rgba(175,175,175,0.25);
//   }

//   .site-footer.default-layout {
//     border-top: solid 1px rgba(175,175,175,0.25);
//   }
// }

// html.large-device {
//   .content-layout-single {
//     &.boxed-layout {
//       .site {
//         border-left: solid 1px rgba(175,175,175,0.25);
//         border-right: solid 1px rgba(175,175,175,0.25);
//       }
//     }
//   }
// }







/*
 * Boxed Content Layout
 */

.content-layout-boxed {

  .content-area {
    margin-top: $padding;
  }

  .site-main > article {
    .entry-header-text,
    .entry-content,
    .entry-footer {
      padding-left: $padding;
      padding-right: $padding;
    }

  }


  // Page
  .site-main {

    .content-area {
      .entry-title {
        padding-left: $padding;
        padding-right: $padding;
      }
    }
  }
}




// Footer
.site-footer {
  .site-info .container {
    padding: $padding;
  }
}
